<div class="converter">
  <h2>Convertisseur EUR / USD</h2>
  <p>Taux actuel : {{ store.rate() | number:'1.4-4' }}</p>
  <input
    type="number"
    [value]="store.amount()"
    (input)="onAmountChange($event.target.value)"
    placeholder="Entrez le montant"
  />
<br>
<br>
  <h3>
    Résultat : {{ store.converted() | number:'1.2-2' }}
    {{ store.currency() === 'EUR' ? 'USD' : 'EUR' }}
  </h3>

  <br>
    <button (click)="toggleCurrency()">
    Devise : {{ store.currency() }}
  </button>

  <br>
  <br>
    <input
    type="number"
    [value]="store.fixedRate() || ''"
    (input)="onFixedRateChange($event.target.value)"
    placeholder="Fixer un taux (optionnel)"
  />

    <br>
  <br>
@if (store.fixedRate() !== null) {
  <small>
    Taux fixe actif : {{ store.fixedRate() }}
  </small>
}

<br>
<br>
<button (click)="addToHistory()">
    Ajouter à l'historique
</button>
<div class="history">
    <ul>
       <h4>Historique (5 dernières conversions)</h4>
      <li *ngFor="let entry of store.history()">
        {{ entry.inputValue | number:'1.2-2' }} {{ entry.inputCurrency }}
        → {{ entry.outputValue | number:'1.2-2' }} {{ entry.outputCurrency }}
        (Taux utilisé : {{ entry.rateUsed | number:'1.4-4' }}, Taux réel : {{ entry.rateReal | number:'1.4-4' }})
      </li>
    </ul>
</div>
</div>
