<div class="converter">
  <h2>Convertisseur EUR / USD</h2>
  <p>Taux actuel : {{ store.rate() | number:'1.4-4' }}</p>
  <input
    type="number"
    [value]="store.amount()"
    (input)="onAmountChange($event.target.value)"
    placeholder="Entrez le montant"
  />
<br>
<br>
  <h3>
    Résultat : {{ store.converted() | number:'1.2-2' }}
    {{ store.currency() === 'EUR' ? 'USD' : 'EUR' }}
  </h3>

  <br>
    <button (click)="toggleCurrency()">
    Devise : {{ store.currency() }}
  </button>

  <br>
  <br>
    <input
    type="number"
    [value]="store.fixedRate() || ''"
    (input)="onFixedRateChange($event.target.value)"
    placeholder="Fixer un taux (optionnel)"
  />

    <br>
  <br>
@if (store.fixedRate() !== null) {
  <small>
    Taux fixe actif : {{ store.fixedRate() }}
  </small>
}
</div>
